* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
ul {
    list-style: none;
}
header {
    background-color: var(--primary-color);
    height: 72px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-small) var(--spacing-medium);
}
.logo {
    font-size: var(--font-size-medium-large);
    color: var(--secondary-color);
}

.logo strong {
    display: inline-block;
    font-size: var(--font-size-medium);
    font-weight: 700;
}

.logo span {
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: 600;
}

.logo-point {
    color: var(--teritery-color);
}

ul {
    font-size: var(--font-size-very-small);
    display: flex;
    color: var(--secondary-color);
}

li {
    margin: 0 var(--spacing-medium);
}
li:hover {
    cursor: pointer;
    color: var(--teritery-color);
}

#search-input {
    padding: var(--spacing-very-small);
    width: 300px;
    border: 1px solid #ccc;
    border-radius: var(--font-size-base);
    font-size: var(--font-size-base);
}
#search-button {
    padding: var(--spacing-very-small) var(--spacing-small-medium);
    background-color: var(--blue-color);
    border: none;
    border-radius: var(--spacing-base);
    color: var(--secondary-color);
    font-size: var(--font-size-base);
    cursor: pointer;
}
#search-button:hover {
    background-color: var(--dark-blue-color);
}

/* Body section */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 700px;
    max-height: 700px;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: 450px;
    margin-bottom: -10px;
}

.caption {
    text-align: center;
    padding: var(--spacing-small) 0;
    background-color: var(--color-accent-1);
    color: var(--secondary-color);
    min-height: 100px;
    display: block;
}

.previous, .next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: var(--spacing-small);
    font-size: var(--font-size-small-medium);
    cursor: pointer;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.slideshow-ovals {
    text-align: center;
    margin-top: var(--spacing-small);
    position: absolute;
    content: "";
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oval {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 var(--spacing-base);
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #717171;
}

/* Footer section */

footer .location {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: var(--font-size-very-small);
    padding: var(--spacing-small) 0;
    background-color: black;
    color: var(--secondary-color);
}
footer .location:hover {
    cursor: pointer;
    color: var(--teritery-color);
}
footer .location i {
    align-self: center;
}
footer .location span {
    padding: 0 var(--spacing-small-medium);
}

footer .media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
footer .media .symbol {
    font-size: var(--font-size-base);
    margin-left: var(--spacing-small);
}
footer .media .symbol:hover {
    cursor: pointer;
    color: var(--teritery-color);
}
footer .media strong{
    font-size: var(--font-size-very-small);
}
footer .media .profession {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-base);
}
footer .media ul li {
    padding: var(--spacing-base);
}
footer .profession-title {
    color: lightgray;
    font-size: var(--font-size-small-medium);
    margin-bottom: var(--spacing-very-small);
}
footer .profession-title:hover {
    cursor: pointer;
    color: var(--teritery-color);
}
footer .social {
    color: lightgray;
    font-size: var(--font-size-very-small);
}
footer .social li {
    margin: 0 var(--spacing-small-medium);
}



